/*--- Load other css ---*/

@import "/bootstrap/css/bootstrap.min.css";
@import "/css/modal.css";

@import "/css/mainPage.css";
@import "/css/project.css";
@import "/css/minorPage.css";

/*--- Load other css_End ---*/

/*--- Body ---*/
body {
	
	padding-top: 3rem;
	background: rgb(34, 34, 34);
	color: #fff;

	
}

/*--- Body_end ---*/

/*--- Scrollbar ---*/
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #202324 #454a4d;
}
/*--- Scrollbar_end---*/

/*--- Selection ---*/
::-moz-selection {
  background:#45c53998; /* Gecko Browsers */
}

::selection {
  background: #45c53998; /* WebKit/Blink Browsers */
}
/*--- Selection ---*/



/*--- navigation bar ---*/
.navbar {
	background: #1f212b;
}

.nav-link, .navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: rgb(114, 113, 113);
}

.navbar-collapse {
	justify-content: flex-end;
}
/*--- navigation bar_end ---*/

/*---Link ---*/
.goto-link{
	color: #fff;
	cursor: pointer;
	margin-left: 1em !important;
}

.goto-link:visited {
	color: black;
	background-color:#9fad97;
	border-color: rgb(71, 85, 83);;
}

.goto-link:hover {
	color: white;
	background-color: rgb(71, 85, 83);
	border-color: rgb(71, 85, 83);;
}

.goto-link:active {
	color: black;
	background-color: rgb(230, 127, 43);
	border-color: rgb(71, 85, 83);;
}
/*---Link_end ---*/

/*---Footer---*/
.e-mail:before {
	content: attr(data-website) "\0040" attr(data-user);
	unicode-bidi: bidi-override;
	direction: rtl;
	font-style: italic;
	white-space: nowrap
}

.page-footer {
	background-color: #222;
	color: rgb(175, 175, 175);
	padding-top: 10px;
	padding-bottom: 10px;
	
	
  	bottom: 1rem;
  	width: 100%;
	height: 2rem; 
	margin-bottom: 0;
}

.page-footer a{
	color: rgb(126, 126, 126);
}

.page-footer p{
	margin-bottom: 0;
	padding-bottom: 10px;
}

.footer-copyright {
	color: rgb(126, 126, 126);
}

.footerAbout {
	position: absolute;
  	bottom: 0;
  	width: 100%;
}
/*---Footer_end---*/

/*--- General ---*/
.centralText{
	padding-left: 10%;
	padding-right: 10%;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}

.backgroundImage {	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.page-container {
	min-height: 89vh;
	position: relative;
}

.max-height-container {
	height: 100%;
}

/*--- General_end ---*/

.description {	
	text-align: center;
	margin-bottom: 30px;
	margin-top: 80px;
}

.description2 {
	position: absolute;	
	text-align: center;
}

.description h1 {
	color: #6ab446;
	padding-bottom: 30px;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #6ab446;
	background: #6ab446;
	
	color: #fff;
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}


/*Tooltip e-mail*/
/* The alert message box */
.alert {
	padding: 20px;
	background-color: #6ab446; /* Red */
	color: white;
	margin-bottom: 15px;
	visibility: hidden;
	transition: visibility 0.3s;
	margin-left: 10%;
	margin-right: 10%;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
} 




