/*--- Load other css ---*/

@import "/bootstrap/css/bootstrap.min.css";
@import "/css/modal.css";



body {
	padding: 0;
	margin: 0;
	background: #8c8d8a;
	color: #fff;
}

body::-webkit-scrollbar {
	width: 1em;
	background-color: #1c1e1f;
    color: #c5c1b9;;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  body::-webkit-scrollbar-corner {
    background-color: #181a1b;
	}
   
  body::-webkit-scrollbar-thumb {
	background-color: #2a2c2e;
	outline: 1px solid slategrey;
  }

/*--- navigation bar ---*/

.navbar {
	background: #1f212b;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: rgb(114, 113, 113);
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header2 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.missionHermes {	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.missionHermes h3{
	color: rgb(228, 151, 79);
}

.centralText{
	padding-left: 10%;
	padding-right: 10%;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	
}

.description {	
	text-align: center;
	margin-bottom: 30px;
	margin-top: 80px;
}

.description2 {
	position: absolute;	
	text-align: center;
}

.mainElement {	
	padding-bottom: 30px;
	text-align: left;
}

.mainElement p{
	color: #fff;
}

.imageMainPage{
	display: block;
	width: 50%;
	height: auto;
}

.description h1 {
	color: #6ab446;
	padding-bottom: 10px;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #6ab446;
	background: #6ab446;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

.imagePortfolio{
	max-width: 20%;
	height: auto;
}

/*---Link ---*/
.goto-link{
	color: rgb(69, 52, 218);
	cursor: pointer;
	margin-left: 1em !important;
}

.goto-link:hover {
	color: rgb(114, 113, 113);
}

/*--- Contact---
.contact {	
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
	-o-background-size: cover;
	display: block;
	
}




.contactHtmlBody{
	height: 100%;
	width: 100%;
}*/

.imageBackgroundHtmlBody {
	background-size: cover;
	background-position: center;

	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	  
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	  
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
	.imageBackgroundHtmlBody {
		background-size: cover;
		background-position: center;
	
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		-o-background-size: cover;	

	  left: 50%;
	  margin-left: -512px;   /* 50% */
	}
  }

/*--- feature section ---*/



.features {	
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 40px;
	text-transform: uppercase;
}

.project-title{
	color: #000;
	font: 2rem ;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 80px;
	margin-top: 40px;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	
}



.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: rgb(6, 122, 139);
	border: 1px solid rgb(107, 219, 237);
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: rgb(88, 58, 58);
	padding: 30px 0 30px;	
}

.hermesImg img{
	background-color: rgba(51, 51, 51, 0.712);
}

.footer-copyright {
	color: rgb(126, 126, 126);
}

.footerAbout {
	position: absolute;
  	bottom: 0;
  	width: 100%;
}

/*--- media queries ---*/

/*@media (max-width: 575.98px) {
	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}*/

.centerIframe {
	width: 500px; /* It should not be 100% */
	height: 500px;
	margin-left: auto;   /* Automatic margin from left */
	margin-right: auto;
	margin-bottom: 50px;
}

.sideBySideIframe{
    float:left;
	margin-right:20px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.clear{
    clear:both;
}

.imageLeft{
	padding-left: 10%;
	
}

.espacement{
	padding-bottom: 70px;
}

.e-mail:before {
	content: attr(data-website) "\0040" attr(data-user);
	unicode-bidi: bidi-override;
	direction: rtl;
}

.patternGameJam {
	background-color: #e7e4e1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23000000' fill-opacity='0.51'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.patternGameJamPage {
	background-color: transparent;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23000000' fill-opacity='0.51'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.myPersonnalDescription {
	text-align: left;
	color: rgb(158, 158, 158);
	font-size: 1rem;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-bottom: 60px;
	padding-top: 20px;
}

